body {
  /* This is an exact emulation of Weebly's background. */
  background: url("night.jpg") no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /* This is like Weebly's, but pins image to the bottom of the page. */
  /*
  background: url("ocean.jpg") no-repeat fixed bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  */
}

@media all and (min-width: 800px) {
  #PwdRoot {
    columns: 2;
    width: 800px;
  }
}

@keyframes FlagCycleInit {
  0%   { background-color:#007E33; border-color:#000 }
  97%  { background-color:#000000; border-color:#000 }
  100% { background-color:#FF8800; border-color:#000 }
}

@keyframes FlagCycleMain {
  0%   { background-color:#FF8800; border-color:#000 }
  3%   { background-color:#007E33; border-color:#000 }
  97%  { background-color:#000000; border-color:#000 }
  100% { background-color:#FF8800; border-color:#000 }
}

button.fader {
  animation-name: FlagCycle;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.pwdBlocks {
  position: absolute;
  left: 5%;
  top: 200px;
}

#logo {
 text-align:center;
 display:block;
}

.popover-title { display: none; }
