.btn-info.active {
 background-color: limegreen;
}
.btn_red.active {
 background-color: red;
}

.btn-fresh { border-color: #ff0000; background-color: #ff8888 }
.btn-fresh:hover { border-color: #00ff00; background-color: #00ff88 }
.btn-fresh:active { border-color: #0000ff; background-color: #0088ff }
.btn-fresh:focus { border-color: #ffff00; background-color: #ffff88 }

.btn-fresh2 { border: none; border-color: #ff0000; background-color: #ff8888 }
.btn-fresh2:hover { border: none; border-color: #00ff00; background-color: #00ff88 }
.btn-fresh2:active { border: none; border-color: #0000ff; background-color: #0088ff }
.btn-fresh2:focus { border: none; border-color: #ffff00; background-color: #ffff88 }


